<!DOCTYPE html>
<html>
<head>
  <title>Hilcom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<ul>
		  <li><%= link_to "CONTACT", "/contacts/index" %></li>
		  <li><%= link_to "CLIENTS", "/clients/index" %></li>
		  <li><%= link_to "ABOUT", "/abouts/index" %></li>
	</ul>

<%= yield %>

</body>
</html>
